<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
</head>
<body>
   Posts 
    {% block content %}

        {% if posts.length === 0 %}
            <p class="text-gray-500 italic">No posts yet.</p>
        {% endif %}

        <ul>
            {% for post in posts %}
                <li>
                    <span>title: {{post.title}}</span>
                    <span>title: {{post.content}}</span>
                </li>
            {% endfor %}
        </ul>

    {% endblock %}
   <form action="/" method="POST">
     <input type="text" name="title">
     <input type="text" name="content">
     <button type="submit">Create</button>
   </form>
</body>
</html>